In [59]:
import boto3
import pandas as pd
from sagemaker import get_execution_role

role = get_execution_role()
bucket='ammitest'
data_key = 'data/PIF013333J6.csv'
data_location = 's3://{}/{}'.format(bucket, data_key)

In [60]:
df=pd.read_csv(data_location)

In [61]:
df.head()

,id,WRITESTAMP,SID,VALUE,TIMESTAMP,TIMEZONE
0,PIF013333J6,2018-08-20T17:50:57Z,cfac45ee-95e8-4dc1-878a-9f404f7f9c99,0,2018-07-27T13:33:01Z,-5
1,PIF013333J6,2018-08-20T16:36:34Z,cfac45ee-95e8-4dc1-878a-9f404f7f9c99,0,2018-07-27T13:38:57Z,-5
2,PIF013333J6,2018-08-20T17:06:07Z,cfac45ee-95e8-4dc1-878a-9f404f7f9c99,0,2018-07-27T13:43:54Z,-5
3,PIF013333J6,2018-08-20T19:21:25Z,cfac45ee-95e8-4dc1-878a-9f404f7f9c99,0,2018-07-27T13:47:56Z,-5
4,PIF013333J6,2018-08-20T18:48:20Z,cfac45ee-95e8-4dc1-878a-9f404f7f9c99,0,2018-07-27T13:53:46Z,-5

In [62]:
df['DATETIME'] = pd.to_datetime(df['TIMESTAMP'])

In [63]:
df['DATE'] = df['DATETIME'].dt.date
df['TIME'] = df['DATETIME'].dt.time

In [64]:
df.head()

,id,WRITESTAMP,SID,VALUE,TIMESTAMP,TIMEZONE,DATETIME,DATE,TIME
0,PIF013333J6,2018-08-20T17:50:57Z,cfac45ee-95e8-4dc1-878a-9f404f7f9c99,0,2018-07-27T13:33:01Z,-5,2018-07-27 13:33:01,2018-07-27,13:33:01
1,PIF013333J6,2018-08-20T16:36:34Z,cfac45ee-95e8-4dc1-878a-9f404f7f9c99,0,2018-07-27T13:38:57Z,-5,2018-07-27 13:38:57,2018-07-27,13:38:57
2,PIF013333J6,2018-08-20T17:06:07Z,cfac45ee-95e8-4dc1-878a-9f404f7f9c99,0,2018-07-27T13:43:54Z,-5,2018-07-27 13:43:54,2018-07-27,13:43:54
3,PIF013333J6,2018-08-20T19:21:25Z,cfac45ee-95e8-4dc1-878a-9f404f7f9c99,0,2018-07-27T13:47:56Z,-5,2018-07-27 13:47:56,2018-07-27,13:47:56
4,PIF013333J6,2018-08-20T18:48:20Z,cfac45ee-95e8-4dc1-878a-9f404f7f9c99,0,2018-07-27T13:53:46Z,-5,2018-07-27 13:53:46,2018-07-27,13:53:46

In [83]:
###############extracting all files in a folder
import boto3
import pandas as pd
from sagemaker import get_execution_role

role = get_execution_role()
bucket='ammitest'
data_key = 'data'
data_location = 's3://{}/{}'.format(bucket, data_key)

In [84]:
data_location

's3://ammitest/data'

In [85]:
file_paths = glob.glob('s3://ammitest/data/*.csv')

In [86]:
len(file_paths)

0

In [94]:
import boto3
s3 = boto3.resource('s3')

## Bucket to use
bucket = s3.Bucket('ammitest')

## List objects within a given prefix
for obj in bucket.objects.filter(Delimiter=',', Prefix='data/'):
    file_paths=glob.glob(obj.key)

In [95]:
file_paths

[]

In [96]:
len(file_paths)

0

In [2]:
L = ['Thanks You', 'Its fine no problem', 'Are you sure']
df = pd.DataFrame({'col':L})

NameError: name 'pd' is not defined

In [5]:

def processCalculation():
    return 2+3
if __name__ == __main__:
    processCalculaton()

NameError: name '__main__' is not defined